In [4]:
import pandas as pd

In [6]:
data1718 = pd.read_csv("gov_data_input/20172018.csv")
data1718['year'] = '201718'

In [7]:
data1819 = pd.read_csv("gov_data_input/20182019.csv")
data1819['year'] = '201819'

In [8]:
data1920 = pd.read_csv("gov_data_input/20192020.csv")
data1920['year'] = '201920'

In [9]:
data2021 = pd.read_csv("gov_data_input/20202021.csv")
data2021['year'] = '202021'

In [10]:
data2122 = pd.read_csv("gov_data_input/20212022.csv")
data2122['year'] = '202122'

In [11]:
#combine into one dataframe called result
combined = [data1718,data1819,data1920, data2021, data2122]
result = pd.concat(combined)

In [12]:
#all headers in dataframe
list(result.columns.values)

['EmployerName',
 'EmployerId',
 'Address',
 'PostCode',
 'CompanyNumber',
 'SicCodes',
 'DiffMeanHourlyPercent',
 'DiffMedianHourlyPercent',
 'DiffMeanBonusPercent',
 'DiffMedianBonusPercent',
 'MaleBonusPercent',
 'FemaleBonusPercent',
 'MaleLowerQuartile',
 'FemaleLowerQuartile',
 'MaleLowerMiddleQuartile',
 'FemaleLowerMiddleQuartile',
 'MaleUpperMiddleQuartile',
 'FemaleUpperMiddleQuartile',
 'MaleTopQuartile',
 'FemaleTopQuartile',
 'CompanyLinkToGPGInfo',
 'ResponsiblePerson',
 'EmployerSize',
 'CurrentName',
 'SubmittedAfterTheDeadline',
 'DueDate',
 'DateSubmitted',
 'year']

In [13]:
data = result[['EmployerName',
               'EmployerId',
 'EmployerSize',              
 'DiffMeanHourlyPercent',
 'DiffMedianHourlyPercent',
 'DiffMeanBonusPercent',
 'DiffMedianBonusPercent',
 'MaleBonusPercent',
 'FemaleBonusPercent',
 'MaleLowerQuartile',
 'FemaleLowerQuartile',
 'MaleLowerMiddleQuartile',
 'FemaleLowerMiddleQuartile',
 'MaleUpperMiddleQuartile',
 'FemaleUpperMiddleQuartile',
 'MaleTopQuartile',
 'FemaleTopQuartile',
 'year']]

In [14]:
data.head()

,EmployerName,EmployerId,EmployerSize,DiffMeanHourlyPercent,DiffMedianHourlyPercent,DiffMeanBonusPercent,DiffMedianBonusPercent,MaleBonusPercent,FemaleBonusPercent,MaleLowerQuartile,FemaleLowerQuartile,MaleLowerMiddleQuartile,FemaleLowerMiddleQuartile,MaleUpperMiddleQuartile,FemaleUpperMiddleQuartile,MaleTopQuartile,FemaleTopQuartile,year
0,"""Bryanston School"",Incorporated",676,500 to 999,18.0,28.2,0.0,0.0,0.0,0.0,24.4,75.6,50.8,49.2,49.2,50.8,51.5,48.5,201718
1,"""RED BAND"" CHEMICAL COMPANY, LIMITED",16879,250 to 499,2.3,-2.7,15.0,37.5,15.6,66.7,20.3,79.7,25.4,74.6,10.3,89.7,18.1,81.9,201718
2,123 EMPLOYEES LTD,17677,250 to 499,41.0,36.0,-69.8,-157.2,50.0,73.5,0.0,100.0,2.0,98.0,11.0,89.0,23.0,77.0,201718
3,1610 LIMITED,682,250 to 499,-22.0,-34.0,-47.0,-67.0,25.0,75.0,56.0,44.0,52.0,48.0,30.0,70.0,24.0,76.0,201718
4,1879 EVENTS MANAGEMENT LIMITED,17101,250 to 499,13.4,8.1,41.4,43.7,8.7,3.2,29.1,70.9,49.4,50.6,22.8,77.2,58.2,41.8,201718

In [38]:
#select trainline rows
trainline_data = data.loc[data['EmployerName'] == 'TRAINLINE.COM LIMITED']

In [40]:
trainline_data.to_csv('raw_data_export/trainline_data.csv', index = False)

In [19]:
#select comparable rows
expedia_data = data.loc[data['EmployerName'] == 'EXPEDIA.COM LIMITED']
expedia_data.to_csv('raw_data_export/expedia_data.csv', index = False)